%h2 Sign up for Ledger

= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  - devise_error_messages!
  %div
    = f.text_field :first_name, placeholder: "First Name"

  %div
    = f.text_field :last_name, placeholder: "Last Name"

  %div
    = f.email_field :email, placeholder: "Email"

  %div
    = f.password_field :password, autocomplete: "off", placeholder: "Password"

  %div
    = f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm Password"

  %div
    = f.submit "Sign up"

= render "devise/shared/links"
