= form_for :account do |f|
  
  %div
    = f.label :name, "Give this account a nickname:"
    = f.text_field :name

  %div
    = f.label :type, "Account Type"
    = f.select :type, options_for_select(["Asset", "Debt"])

  %div
    = f.label :context
    = f.select :context, grouped_options_for_select([["Asset", ["Liquid", "Investment", "Insurance", "Other"]], ["Debt", ["Credit Card", "Student Loan", "Other"]]]), include_blank: true

  %div
    = f.label :balance, "Current Balance"
    = f.number_field :balance, min: 0.00, step: 0.01

  %div
    = f.submit