%h2 You're in Accounts#Index View. Keep going!
%h5 TODO: Change this to a dashboard?
- @all_accounts.each do |account|
  %p= "Acct Type: #{account.account_classification}"
  %p= "Acct Context: #{account.context}"
  %p= "Acct Balance: #{account.balance}"
  %p= link_to "Edit", edit_account_path(account)

= link_to "Add a new financial account", new_account_path